@charset "iso-8859-2";
/* CSS Document */

body 
{
margin-left: 0;
padding: 0;
border: 0;
vertical-align: baseline;	
line-height: 1;
font-family: Verdana, Geneva, sans-serif;
line-height: 16px; 
}

#nav {
	margin-left: 10px;
	padding: 0;
	background:none;
	line-height: 100%;
	font-variant: small-caps;
	font-size: 1em;
	cursor:pointer;
	width: 100%;
}

#nav img {height:20px; margin-right:8px;}

#nav li {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style: none;
	background: none;
	background: rgba(0,0,0,0);

	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}


/* main level link */
#nav a {
	background:none;
	background: rgba(0,0,0,0);
	font-weight: bold;
	color: #000;
	text-decoration: none;
	display: block;
	padding:  4% 6%;
	margin: 0;
	width: 150px;

	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
	border-top-right-radius: 9px;
}
#nav a:hover {
	background:none;
	background: rgba(0,0,0,0);
	color: #00911a;
}#A7D645

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #FFF !important;
	color: #00911a !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;
	
	margin: 0;
	padding: 0;
	width: 170px;
	position: absolute;
	top: 100%;
	left: 0;
	background: #FFF;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 2% 0;
}

#nav ul a {
	font-weight: normal;
	font-size: 1.1em;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}
